// Place all the styles related to the api/Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cart-div {
    background: rgb(35, 35, 35);
    color: rgb(176, 174, 174);
    // font-family: Assistant;
    padding: 29px 40px;
    // animation: cart 1s ease-in; 
}