// Place all the styles related to the api/Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.empty-cart {
    padding: 35px 0;
    letter-spacing: 1px;
    font-size: 20px;
    color: rgb(215, 214, 214);
}




.cart-div {
    background: rgb(35, 35, 35);
    color: rgb(176, 174, 174);
    padding: 29px 40px;
    // font-family: Assistant;
    animation: cart 1s ease-in; 



    .cart-labels {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 20px;
        letter-spacing: 1.2px;
        border-bottom: solid 0.5px rgba(136, 136, 136, 0.863);
    

        li:nth-child(2) {
  
            padding-left: 150px;
        }


        li:nth-child(3) {
            padding-right: 20px;
        }
    
    
        .x-btn {
            font-size: 15px;
            cursor: pointer;
        }
    
    
    
    }

}















.cart-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(35, 35, 35);
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);


    .item {
        min-width: 320px;
        width: 39.5%;

        .item-link {
            color: white;
            text-decoration: none;
            // letter-spacing: 1px;
            cursor: pointer;
        }

    }

    p {
        flex-grow: 1;
        font-size: 15px;
        letter-spacing: 1px;
    }


    .qty-price-div {
        flex-grow: 1;
        // height: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .update-qty {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;


            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none; 
                padding: 8px 8px;
                border-radius: 1px;
                background: inherit;
                border: 1px solid rgba(128, 128, 128, 0.5);
                color: white;
                cursor: pointer;
                font-size: 12px;
                outline: none;
               
            }


            button {
                font-size: 14px;
                letter-spacing: 1px;
                background: inherit;
                color: rgb(174, 174, 174);
                border: none;
                margin-left: 8px;
                cursor: pointer;
            }


        }
    }

}









.cart-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;


    .cart-bottom-left {
            flex: 1;
            height: 148px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 52px;
            letter-spacing: 1px;
    }

    .cart-bottom-right {
            width: 33%;
            display: flex;
            flex-direction: column;

            p {
                padding-bottom: 15px;
            }
    }


    .subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

        p {
            font-size: 18px;
            letter-spacing: 1px;
        }

        div {     
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 0.3px;
            color: rgb(233, 229, 229);
        }
    }


    .checkout {
        background-color: #efefef;
        border: none;
        border-radius: 2px;
        color: black;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        width: 100%;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        right: 210px;
        top: 0px;
        outline: none;
        letter-spacing: 1.4px;
    }


    .pay-icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // padding-top: 10px;

        i {
            height: 100%;
            width: 100%;
            padding: 13px;
        }

    }

}









.checkout-form {
    height: 300px;
    width: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    background-color: #FFFEF2;
    font-size: 20px;
    border-radius: 4px;

    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

    display: flex;
    flex-direction: column;
    text-align: center;



    p {
        font-size: 15px;
        line-height: 40px;

        font-weight: 500;
        line-height: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    strong {
        color: rgba(255, 0, 0, 0.664);
        letter-spacing: 1.4px;
    }

    
    
    .recent-projects {

        padding-top: 20px;
        padding-bottom: 40px;
        
        p {
            padding: 10px 0;
        }


        a {
            color: rgb(70, 69, 69);
            padding: 8px;
            padding-top: 14px;
            cursor: pointer;
            text-decoration: none;
        }
    }


}