// Place all the styles related to the api/Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cart-div {
    background: rgb(35, 35, 35);
    color: rgb(176, 174, 174);
    padding: 29px 40px;
}


// .cart-open {
//     width: 24px;
//     height: 24px;
//     background: rgb(57, 56, 56);
//     cursor: pointer;
//     margin-left: 20px;
//     margin-right: 20px;
//     border-radius: 50%;
//     color: white;
//     display: flex;
//     justify-content: center;
    
// }



.cart-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(35, 35, 35);
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    // animation: cart 1s ease-in; 
    }


.cart-labels {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.x-btn {
    font-size: 15px;
    cursor: pointer;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
}


.subtotal {
    display: flex;
    justify-content: space-between;
}