.banner1 {
  background-color: rgb(166,103,43);
  color: rgb(246,245,232);
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 23px;
  text-align: center;
  letter-spacing: 1.5px; 
}



.banner2 {
  background-color: rgb(37,37,37);
  color: rgb(246,245,232);
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 23px;
  text-align: center;
  letter-spacing: 1.5px; 
}



.main-nav {
    display: flex;
    background-color: #fffef2;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid #ddddda;
}


 


.right-nav-greeting {
    display: flex;
    flex-direction: row;
  


    h1 {
      color: rgb(97, 97, 97);
      font-size: 19px;
      margin-top: 10px;
      margin-right: 30px;
      padding-top: 11.5px;
      font-family: 'Nunito Sans', sans-serif;
      letter-spacing: 1.2px; 
    }


    .logout-link {
        cursor: pointer;
        border-width: 0.2px;
        padding-top: 22px;
        padding-right: 38px;
        padding-left: 10px;

        color: rgb(54, 54, 54);
        font-size: 19px;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 1px;
        
    }




    .logout-link:link {
      text-decoration: none;
    }

    .logout-link::after {
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: rgba(0, 0, 0, 0.637);
      transition: 400ms;
    }


    .logout-link:hover::after {
      width: 100%;
    }


}





.cart-display {
  display: flex;
}



.cart-display::after {
  content: '';
  width: 0px;
  height: 1.1px;
  display: block;
  background: rgba(0, 0, 0, 0.637);
  transition: 400ms;
}


.cart-display:hover::after {
  width: 100%;
}



.cart-open {
  cursor: pointer;
  border-width: 0.2px;
  padding-top: 22px;
  padding-right: 10px;
  // padding-left: 10px;
  font-size: 19px;
  font-family: 'Work Sans', sans-serif;
  color: rgb(54, 54, 54);
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 1px;
  // display: flex;


}





.cart-open::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 400ms;
}


.cart-open:hover::after {
  width: 100%;
}


.cart-open:link {
  text-decoration: none;
}


.show-qty-div {
  padding-top: 20px;
  padding-left: 0;
}



.show-qty {
  width: 24px;
  height: 24px;
  background: rgb(121, 121, 121);
  cursor: pointer;
  margin-left: 22px;
  margin-right: 22px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.show-qty:hover {
  background-color: rgb(22, 22, 22);
  transition: ease-in-out 0.5s;
}




.left-nav-li {
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
  width: 400px;

  li {
    display: inline;
    position: relative;
    overflow: hidden;
    justify-content: space-evenly;
    letter-spacing: 1px;


    color: rgb(54, 54, 54);
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
  }


  li:hover {
    cursor: pointer;
  }

  li:link {
    text-decoration: none;
  }


  //hover underline
  li::after {
    content: '';
    width: 0px;
    height: 1.1px;
    display: block;
    background: rgba(0, 0, 0, 0.637);
    transition: 400ms;
  }

  //hover underline 'animation'
  li:hover::after {
    width: 100%;
  }

}









.login-register {
// list-style-type: none;
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
  width: 250px;
  margin-bottom: 0;
  padding-bottom: 0;



  li {
    display: inline;
    position: relative;
    overflow: hidden;
    justify-content: space-evenly;
    letter-spacing: 1px;

    color: rgb(54, 54, 54);
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
  }


  li:hover {
    cursor: pointer;
  }

  li::after {
    content: '';
    width: 0px;
    height: 1.1px;
    display: block;
    background: rgba(0, 0, 0, 0.637);
    transition: 400ms;
  }

  li:hover::after {
    width: 100%;
  }

}






.cart-link::after {
  content: '';
  width: 0px;
  height: 1.3px;
  display: block;
  background: black;
  transition: 400ms;
}


.cart-link:hover::after {
  width: 100%;
}




.login-link:link {
    text-decoration: none;
}


.signup-link:link {
    text-decoration: none;
}

.signup-link {
    color: black;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
}



.login-link {
    color: black;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
}


.cart-link:link {
  text-decoration: none;
}


.cart-link {
    color: black;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding-top: 22px;
    padding-right: 30px;
    padding-left: 5px;
    cursor: pointer;
}






.left-nav {
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}








#slider2 {
    position: absolute;
    width: 500px;
    height: 50%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in2 {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out2 {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in2 {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in2 {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out2 {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out2 {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}













.category-div {
    position: fixed;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 500px;
    z-index: 15;
    opacity: 1;
    background-color: #fffef2;
    height: 350%;
    border: 0;
    border-radius: 0.1em;
}






.first-sidebar {
  float: left;
  justify-content: space-evenly;
  padding-top: 40px;
  flex-basis: auto;
  align-items: left;

}






.sidebar-nav-li {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  margin-right: 75px;
  padding-top: 40px;
  padding-bottom: 30%;


  li {
    display: inline;
    position: relative;
    overflow: hidden;
    justify-content: space-evenly;
    letter-spacing: 1px;

    color: rgb(54, 54, 54);
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
  }


  .sidebar-link:hover {
    cursor: pointer;
  }

  .sidebar-link::after {
    content: '';
    width: 0px;
    height: 1.1px;
    display: block;
    background: rgba(0, 0, 0, 0.637);
    transition: 400ms;
  }

  .sidebar-link:hover::after {
    width: 100%;
  }



  .sidebar-close-btn {
    color: rgba(0, 0, 0, 0.835);
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    color: rgb(54, 54, 54);
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;


    .sidebar-close-btn:link {
      text-decoration: none;
    }
  }

}




.asoap-logo {
  margin-left: 7%;
  cursor: pointer;
}



.sidebar-category-li {
  padding-top: 15%;


  li {
    padding: 1.5% 5%;
    margin-left: 4%;


    .side-link {
      color: rgb(54, 54, 54);
      font-size: 40px;
      letter-spacing: 1.5px;
      font-family: 'Nunito Sans', sans-serif;
      text-decoration: none;
      cursor: pointer;
    }
  
    .side-link:link {
      text-decoration: none;
    }

  }



}

// .skin-category {
//   padding: 1.5% 5%;
//   margin-left: 4%;
// }

// .skin-link {
//   color: rgb(58, 58, 58);
//   font-size: 40px;
//   font-family: 'Nunito Sans', sans-serif;
//   text-decoration: none;
//   cursor: pointer;
// }

// .skin-link:link {
//   text-decoration: none;
// }




// .hair-category {
//   padding: 1.5% 5%;
//   margin-left: 4%;
// }

// .hair-link {
//   color: rgb(58, 58, 58);
//   font-size: 40px;
//   font-family: 'Nunito Sans', sans-serif;
//   text-decoration: none;
// }

// .hair-link:link {
//   text-decoration: none;
// }




// .body-category {
//   padding: 1.5% 5%;
//   margin-left: 4%;
// }

// .body-link {
//   color: rgb(58, 58, 58);
//   font-size: 40px;
//   font-family: 'Nunito Sans', sans-serif;
//   text-decoration: none;
// }

// .body-link:link {
//   text-decoration: none;
// }





.sub-category-sidebar {
    position: absolute;
    left: -100%;
    height: 100%;
    background: rgb(163, 202, 165);
    top: 0;
    bottom: 0;  
    width: 300px;
    transition: left 0.5s ease-in-out;
    z-index: 1;
}

.sub-category-sidebar-open {
  left: 600px;
  // left: -200%;
}



