// .splash-image {
//     // background-size: auto;
//     background-position: center;
//     background-repeat: no-repeat;
// }


.main-nav {
    display: flex;
    background-color: rgb(226, 180, 94);
    justify-content: space-between;
}


 
 
 .left-nav {
    /* background-color: rgb(221, 171, 79); */
    color: #000;
    // display: flex;
    float: right;
    background-color: rgb(226, 180, 94);
 }


 .login-register {
    // list-style-type: none;
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
 }

 .login-register > li {
    display: inline;
    position: relative;
    overflow: hidden;
 }

 .login-register > li:hover {
    color: #000;
 }

 /* underline */
.login-register > li::after {
  content: '';
  width: 0px;
  height: 1.3px;
  display: block;
  background: black;
  transition: 300ms;
}


.login-register > li:hover::after {
  width: 100%;
}




.login-link:link {
    text-decoration: none;
    color: inherit;
}


.signup-link:link {
    text-decoration: none;
}

.signup-link {
    color: black;
    font-size: 25px;
    margin: 30px
}

.login-link {
    color: black;
    font-size: 25px;
}