@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}









input:focus {
    outline: none;
}

input {
    background-color: transparent;
}




.login-modal-form {
    position: fixed;
    padding: 40px;
    border: 1px solid rgb(173, 172, 172);
    font-family: 'Lora', serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 550px;
    height: 550px;
    background-color: #FFFEF2;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    
}






.close-btn {
    text-align: right;
    height: 30px;
    width: 100%;
    font-size: 30px;
    color: black;
    float: right;
    padding: 0;
}


.close-btn:hover {
    cursor: pointer;
}


.right-header {
  display: flex;
  justify-content: space-between;

}



.login-header {
    font-size: 30px;
    font-weight: 900;
    padding: 30px 0px 20px;
    text-align: justify;
}


.login-header > h2 {
    padding: 10px;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto 0;
}

.login-email-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}


.login-password-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}


.login-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}



.demo-login-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}




.signup-modal-form {
    padding: 10px 30px;
    position: fixed;
    border: 1px solid rgb(173, 172, 172);
    font-family: 'Lora', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 550px;
    height: 670px;
    background-color: #FFFEF2;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}




.signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 10px auto 0;
    background-color: transparent;
}


.signup-header {
    font-size: 30px;
    font-weight: 900;
    padding: 20px 0px 20px 3px;
    text-align: justify;
}


.signup-header > h2 {
    padding: 10px;
}



.signup-par {
    padding: 7px;
    font-size: 15px;
    color: #666;
}


.signup-email-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}

.signup-password-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}

.signup-confirm-password-label {
    border: none;
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}


.signup-name-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}


.signup-firstname-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    text-transform: none;
    margin-bottom: 2%;
    width: 45%;
}


.signup-lastname-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    text-transform: none;
    margin-bottom: 2%;
    width: 45%;
}



.signup-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

.signup-footer {
    text-align: center;
    font-size: 15px;
    color: #666;
    margin: 50px;
}

.signup-footer:link {
    text-decoration: none;
}

.signup-footer:hover {
    cursor: pointer;
}


.session-errors-li {
    color: rgb(83, 83, 83);
}