input:focus {
    outline: none;
}

input {
    background-color: transparent;
}




.login-modal-form {
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -240px;
    width: 400px;
    padding: 70px;
    z-index: 3;
    border: 1px solid rgb(173, 172, 172);
    background: #FFFEF2;
    font-family: 'Open Sans', sans-serif;
}




.fa-times {
    // margin-right: auto;
    position: relative;
    // margin-right: auto;
    text-align: right;
    height: 20px;
    width: 98%;
    font-size: 25px;
    color: black;
}

.fa-times:link {
    text-decoration: none;
}




.login-header {
    font-size: 30px;
    font-weight: 900;
    padding: 30px 0px 20px;
    text-align: justify;
}


.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto 0;
}

.login-email-label {
    border-bottom: 1px solid #999;
    padding: 7px;
}


.login-password-label {
    border-bottom: 1px solid #999;
    padding: 7px;
}


.login-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}



.demo-login-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}




.signup-modal-form {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    width: 400px;
    padding: 80px;
    background: #FFFEF2;
    z-index: 3;
    border: 1px solid rgb(173, 172, 172);
    font-family: 'Open Sans', sans-serif;
}





.signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto 0;
    background-color: transparent;
}


.signup-header {
    font-size: 30px;
    font-weight: 900;
    padding: 30px 0px 20px;
    text-align: justify;
}



.signup-par {
    padding: 5px;
    font-size: 15px;
    color: #666;
}


.signup-email-label {
    border-bottom: 1px solid #999;
    padding: 7px;
}

.signup-password-label {
    border-bottom: 1px solid #999;
    padding: 7px;

}

.signup-confirm-password-label {
    border: none;
    border-bottom: 1px solid #999;
    padding: 7px;
}


.signup-firstname-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    text-transform: none;
}


.signup-lastname-label {
    border-bottom: 1px solid #999;
    padding: 7px;
}


.signup-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

.signup-footer {
    text-align: center;
    font-size: 15px;
    color: #666;
    margin: 50px;
}

.signup-footer:link {
    text-decoration: none;
}

.signup-footer:hover {
    cursor: pointer;
}