input:focus {
    outline: none;
}

input {
    background-color: transparent;
}




.login-modal-form {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 500px;
    padding: 60px;
    z-index: 3;
    border: 1px solid rgb(173, 172, 172);
    background: #FFFEF2;
    font-family: 'Lora', serif;
}




.close-btn {
    text-align: right;
    height: 30px;
    width: 105%;
    font-size: 30px;
    color: black;
    float: right;
}

.close-btn:link {
    text-decoration: none;
}




.right-header {
  display: flex;
  justify-content: space-between;

}


.login-greeting {
  color: black;
  font-size: 22px;
  margin-top: 10px;
  margin-right: 30px;
  padding-top: 22px;
  font-family: 'Work Sans', sans-serif;
}


.logout-btn-div {
  display: flex;
  padding-top: 10px;
  margin-right: 24px;
  padding-top: 22px;
}


.logout-btn {
    background-color: #f6f5e3;
    cursor: pointer;
    border-width: 0.2px;
    border-color: rgb(206, 206, 206);
}



.login-header {
    font-size: 30px;
    font-weight: 900;
    padding: 30px 0px 20px;
    text-align: justify;
}


.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto 0;
}

.login-email-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}


.login-password-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}


.login-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}



.demo-login-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}




.signup-modal-form {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 500px;
    padding: 60px;
    background: #FFFEF2;
    z-index: 3;
    border: 1px solid rgb(173, 172, 172);
    font-family: 'Lora', serif;
}




.signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto 0;
    background-color: transparent;
}


.signup-header {
    font-size: 30px;
    font-weight: 900;
    padding: 30px 0px 20px;
    text-align: justify;
}



.signup-par {
    padding: 5px;
    font-size: 15px;
    color: #666;
}


.signup-email-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}

.signup-password-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}

.signup-confirm-password-label {
    border: none;
    border-bottom: 1px solid #999;
    padding: 7px;
    margin-bottom: 8%;
}


.signup-name-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}


.signup-firstname-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    text-transform: none;
    margin-bottom: 2%;
    width: 45%;
}


.signup-lastname-label {
    border-bottom: 1px solid #999;
    padding: 7px;
    text-transform: none;
    margin-bottom: 2%;
    width: 45%;
}



.signup-btn {
    background-color: #999;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

.signup-footer {
    text-align: center;
    font-size: 15px;
    color: #666;
    margin: 50px;
}

.signup-footer:link {
    text-decoration: none;
}

.signup-footer:hover {
    cursor: pointer;
}


.session-errors-li {
    color: rgb(83, 83, 83);
}