
.testing {
    padding-left: 12%;
}



.asoap-logo-show {
    padding-left: 31px;
    padding-top: 99px;
    padding-bottom: 80px;
}


.main-show-container {
    display: flex;
    // height: 50%;
    padding: 50px 0;
}


.first-img-container {
    display: flex;
    width: 50%;
    padding-left: 40%;
}


.second-img-container {
    width:100%;
    height: 883px;
}



.prod-img {
    // display: flex;
    // width: 50%;
    width:100%;
    height: 883px;
}




.detail-container {
    width: 80%;
    float: left;
    // padding: 2%;
    padding-right: 15%;
}


.product-key {
    font-size: 21px;
    font-weight: 1500;
    padding-bottom: 15px;

        letter-spacing: 1.5px;
    // font-family: 'Nunito Sans', sans-serif;
    color: #252525;
}


.product-val {
    font-size: 18px;
    color: rgb(117, 117, 117);

    letter-spacing: 0.5px;
    font-family: 'Nunito Sans', sans-serif;
}


.detail1 {
    font-size: 30px;
    padding-bottom: 32px;
    line-height: 1.4;

    letter-spacing: 0.5px;
    font-family: 'Nunito Sans', sans-serif;
    color: #252525;
}

.detail2 {
    font-size: 20px;
    line-height: 1.7;
    padding-bottom: 20px;
    border-bottom: 2px solid #252525;;

    letter-spacing: 0.5px;
    font-family: 'Nunito Sans', sans-serif;
    color: #252525;
}


.detail3 {
    padding: 20px 0;
    border-bottom: 1px solid #252525;;
}




.detail4 {
    padding: 30px 0;
}


.cart-btn {
    background-color: #424242;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    font-size: 18px;
    letter-spacing: 1px; 
    border-radius: 4px;
}


.cart-btn:hover {
    background-color: black;
    cursor: pointer;
}




.quantity-added-to-cart {
    position: absolute;
    display: none;
    right: 0%;
    top: -3%;
    border: 1px solid gray;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 9px 14px;
    line-height: 30px;
    height: 35px;
    font-size: 13px;
    width: 160px;
    text-align: center;
    border-radius: 3px;
    letter-spacing: 1px;
}




.main-second-container {
    width: 100%;
    display: flex;
    padding-top: 50px;
}


.third-detail-container {
    padding-top: 80px;
    padding-left:150px;
    padding-right: 150px;
    background-color: rgb(246, 245, 232);
}


.how-to-use {
    font-family: 'Lora', serif;
    font-size: 31px;
    padding-top: 10px;

    letter-spacing: 0.5px;
    color: #252525;
}



.cart-item-div {
        display: flex;
        flex-direction: row;
        background: rgb(35, 35, 35);
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}