// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-idx-main-div {
    padding-top: 10%;
    background-color: #fffef2;
}


.product-idx-sub-header {
    display: inline-block;
    justify-content: space-around;
    padding-left: 1%;
    flex-direction: column;
}


.skin-subheader {
    padding-left: 16%;
    font-size: 35px;
    padding-top: 18%;
}



.sub-category-products1 {
    display: flex;
    flex-wrap: wrap;
    // overflow-x: scroll; 
    // overflow-y: hidden;
}


.sub-category-products2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebeade;
}



.sub-category-container {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
}


// .sub-category-container2 {
//     padding: 2%;
//     flex-grow: 1;
//     flex-basis: 16%;
//     display: flex;
//     background-color: #ebeade;
// }




.sub-category-par {
    font-size: medium;
    width: 60%;
    word-wrap: break-word;
    padding: 10px;
    margin: 0;

}


