// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-idx-main-div {
    padding-top: 7%;
    background-color: #fffef2;
}


.product-idx-sub-header {
    display: inline-block;
    justify-content: space-around;
    padding-left: 1%;
    flex-direction: column;
}


.category-subheader {
    padding-left: 16%;
    font-size: 38px;
    padding-top: 10%;
    letter-spacing: 2px;
}



.sub-category-products1 {
    display: flex;
    flex-wrap: wrap;

}


.sub-category-products2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebeade;
}



.sub-category-container {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
}





.sub-category-detail {
    width: 25%;
}



.sub-category-detail-div {
    padding-top: 50%;
}


.sub-category-name {
    font-size: 35px;
    padding-bottom: 25px;
}

.sub-category-par {
    font-size: 19px;
    line-height: 1.6;
}


.product-itm-link {
    color: black;
    text-align: center;
    line-height: 2.6;
}


.product-itm-link:link {
    text-decoration: none;
}


.prod-size-price {
    color: rgb(93, 92, 92);
}



.testing {
    padding-left: 12%;
}



.asoap-logo-show {
    padding-left: 31px;
    padding-top: 99px;
    padding-bottom: 80px;
}


.main-show-container {
    display: flex;
    height: 50%;

}


.first-img-container {
    display: flex;
    width: 50%;
    padding-left: 40%;
}

// .prod-show-img {
//     min-height: 100%;
// }

.second-img-container {
    display: flex;
}


.detail-container {
    // display: flex;
    width: 50%;
    float: left;
    // padding: 2%;
    padding-right: 15%;
}


.detail1 {
    font-size: 40px;
    padding-bottom: 28px;
}

.detail2 {
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}


.detail3 {
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 2px solid #ddddda;
}




.detail4 {
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 2px solid #ddddda;
}


.detail5 {
    font-size: 20px;
    padding: 20px 0;
    
}


