#search-wrap{
    position: fixed;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    // width: 33.33%;
    width: 500px;
    z-index: 15;
    opacity: 1;

    // animation: cart-slide 0.3s ease-in-out;


    // border: 0;
    // border-radius: 0.1em;
    animation: cart-slide 0.5s, second 0.5s ease-in;
    background-color: #fffef2;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: left;


    height: 100%;
    height: 350%;
    border: 0;
    border-radius: 0.1em;
    animation: fadein 0.5s, second 0.5s ease-in;
    background-color: #fffef2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    // width: 200%;
}





.search-section {
    padding: 50px;
}


// .search-form-wrap{
//   display: flex;
//   flex-direction: column;
//   height:80%;
// }




.search-input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(142, 140, 140, 0.68);
    min-width: 350px;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 10px 3px 15px;
    padding-bottom: 10spx;
    font-family: Nunito Sans;
}

.searched-item-link:link {
    text-decoration: none;
}



.searched-item {
    color: rgb(107, 106, 106);
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1.2px;
}


.searched-item:hover {
    color: black;
    transition: 0.2s;
}
