#slider {
    position: absolute;
    width: 500px;
    height: 50%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}









#search-wrap{
    position: fixed;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 500px;
    z-index: 15;
    opacity: 1;
    background-color: #fffef2;
    height: 350%;
    border: 0;
    border-radius: 0.1em;
}









.search-section {
    padding: 50px;
}


// .search-form-wrap{
//   display: flex;
//   flex-direction: column;
//   height:80%;
// }




.search-input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(142, 140, 140, 0.68);
    min-width: 350px;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 10px 3px 15px;
    padding-bottom: 10spx;
    font-family: Nunito Sans;
}

.searched-item-link:link {
    text-decoration: none;
}



.searched-item {
    color: rgb(107, 106, 106);
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1.2px;
}


.searched-item:hover {
    color: black;
    transition: 0.2s;
}
