.main-subcategory {
    text-align: center;
    width: 70%;
    height: 100%;
}


.subcategory-div {
    display: block;
    position: absolute;
    top: 0;
    left: 70%;
    width: 70%;
    height: 100%;
    border: 0;
    border-radius: 0.1em;
    // animation: second 0.7s ease-in;
    background-color: #FFFEF2;
    border-left: 1px solid #c4c4c0;
    border-right: 1px solid #c4c4c0;
    display: flex;
    z-index: 400;
    // animation
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s, second 1s ease-in;
}