/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav-list-login-register {
    /* background-color: rgb(221, 171, 79); */
    color: #000;
    display: flex;
    float: right;
 }


 .login-register {
    list-style-type: none;
    display: flex;
 
    
 }

 .login-register > li {
    display: inline;
    position: relative;
    overflow: hidden;
 }

 .login-register > li:hover {
    color: #000;
 }

 /* underline */
.login-register > li::after {
  content: '';
  width: 0px;
  height: 1.5px;
  display: block;
  background: black;
  transition: 300ms;
}


.login-register > li:hover::after {
  width: 100%;
}


.login-link:link {
    text-decoration: none;
    color: inherit;
}


.signup-link:link {
    text-decoration: none;
}

.signup-link {
    color: black;
}

.login-link {
    color: black;
}